body{
  min-height: 100vh;
  background: linear-gradient(to top left, #d35400, pink);
  
}

main{
    width: 100%;
    height: 100%;
    background: url("images/flow.png") no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 10px 0;
  }

/* Countainer */
.countainer{
    display: flex;
    flex-direction: row;
}

table{
    margin: 5px auto;
    border-radius: 10px;
    display: table;
    border-collapse: collapse;
    background-color: rgba(248, 194, 194, 0.041);
    color: rgb(10, 32, 73);
    /* font-family: "Gloria Hallelujah"; */
    margin-top: 20px;
    font-family: "Courier New", Courier, monospace;
  font-style: bold;
  font-size: 50px;
  }

td{
    background-color: rgba(250, 141, 114, 0.424);
    border: 15px dotted rgb(18, 167, 204);
    height: 150px;
    width: 150px;
    text-align: inherit;
  }

.cell:hover{
    background: rgba(245, 245, 245, 0.555);
  }

.cell{
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    width: 100px;
  }
  
  /* Div table */
.col {
    /* display: flex; */
    flex-direction:column;
  width: 33%;
  height: 100%;
}

/* Div X */
.XX{
    /* display: flex; */
    flex-direction: column;
    width: 33%;
    height: 100%;
}

/* Div O */
.OO{
    /* display: flex; */
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.one {
  display: none;
}

.tow {
  display: none;
}

.three {
  display: none;
  float: right
}


#btn {
  width: 100%;
  text-align: center;
  margin: 1px 0;
}

#resetButton {
  background-color: black;
  border: none;
  color: rgb(18, 167, 204);
  padding: 14px 30px;
  font-size: 20px;
  opacity: 0.8;
}

#resetButton:hover {
  background-color: #e4572e;
  color: white;
}


/* title */
header {
  letter-spacing: 0.5em;
  color: rgb(10, 32, 73);
  font-size: 34px;
  padding: 10px 5px;
  font-weight: normal;
  text-align: center;
  background: url("images/flow.png") repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Courier New", Courier, monospace;
  font-style: bold;
  background-size: cover;
}

.footer {
  padding: 1px 2px;
  background-color: black;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

#player {
  color: rgb(233, 176, 20);;
  text-align: center;
  font-size: 70px;
  font-family: "Courier New", Courier, monospace;
  font-style: bold;
}

#player1, #player2 {
    color:rgb(233, 176, 20);
    font-size: 60px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    font-family: "Courier New", Courier, monospace;
  font-style: bold;
  }


#popup{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    font-size: 200px;
    color:tomato;
    /* color-interpolation-filters: linearRGB; */
}


/* For mobile phone */
@media (max-width: 700px) {
    .countainer {   
      flex-direction: column;
    }

    
  /* Div table */
.col {
    /* display: flex; */
    flex-direction:row;
  width: 100%;
  height: 33%;
}

/* Div X */
.XX{
    /* display: flex; */
    flex-direction:row;
    width: 100%;
    height: 33%;
}

/* Div O */
.OO{
    /* display: flex; */
    flex-direction:row;
  width: 100%;
  height: 33%;
}
  }